
//input
  input[type=text],
  input[type=password],
  input[type=email],
  input[type=numeric],
  input[type=number],
    {
      height: 50px;
      padding: 0px 20px;
      font-weight: $medium;
      color: $black;
      border: 1px solid $gray-200;
      &:hover{
        border: 1px solid $gray-400;
      }
      &:focus{
        border: 1px solid $blue;
        box-shadow: none;
      }
      &::placeholder { 
        color: $gray-300;
        border: none;
        font-weight: $regular;
      }
    }

    

//form-groups
.form-group{
  label{
    font-size: 13px;
  }
  input{
    border-radius: 7px;
  }
}

.sign-in-block{
  height: 100vh;
}

//icons
.back{
  a{
    color: $black;
    text-transform: capitalize;
    font-weight: $bold;
    display: inline-block;
    vertical-align: top;
    i{
      padding-right: 5px;
    }
  }
  &:hover{
    color: $blue !important;
  }
}

p{
  line-height: 1.6;
  font-weight: $regular;
  letter-spacing: 0.03rem;
  color: $gray-600;
}