@import "~bootstrap/scss/bootstrap";

@import "fonts";
@import "variables";
@import "components";
@import "reset";
@import "custom"; 

.forgot-password{
  padding: 15px 20px;
  background: $white;
  border-radius: 7px;
  font-size: 14px;
  &:hover{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  }
}