@import "~bootstrap/scss/bootstrap";

@import "fonts";
@import "variables";
@import "components";
@import "reset";
@import "custom";  
@import "sidebar"; 
@import "modals"; 



.forgot-password{
  padding: 15px 20px;
  background: $white;
  border-radius: 7px;
  font-size: 14px;
  &:hover{
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  }
} 

.bg-light{
  background: $white !important;
}
#page-content-wrapper{
  position: relative;
  overflow: auto; 
  @media (min-width: 1200px) {
    .container, .container-sm, .container-md, .container-lg, .container-xl{
      max-width: 1400px !important;
    }
  }
  nav{
    z-index: 1;
    position: sticky;
    border-bottom: none !important;
    width: 100%;
    top: 0;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.06), 0px 1px 3px rgba(0, 0, 0, 0.1);
  }
}
.page-heading{
  color: $gray-700;
  margin-top: 50px;
}
.page-content{
  margin-top: 40px;
  .card{
    border-radius: 7px;
    border: none;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.03), 0px 1px 3px rgba(0, 0, 0, 0.01);
    padding: 20px 30px;
    height: 100%;
    .card-icon{
        margin-right: 16px;
        .ri-alarm-warning-fill{
          color: #DD6B20;
        }
        .ri-ruler-fill{
          color: #319795;
        }
        .ri-bar-chart-fill{
          color: #D69E2E;
        }
        .ri-flashlight-fill{
          color: #3182CE;
        }
    }
    .card-heading{
      color: $gray-800; 
      .histogram{
        color: #B83280;
      }
    }
    .card-content{
      padding: 24px 0px;
      .count{
        font-size: 46px;
        font-weight: $exbold;
      }
    }
    .card-chart{
      #stockChart{
        width: 100%;
        height: 100px;
      }
    }
    
  }
  .card-footer{
    background: $white;
    border-radius: 7px;
    margin-top: 30px;
    border: none;
    padding: 0px !important;
  }
}

.reports{
  margin-top: 30px;
  margin-bottom: 60px;
  
  .card-content{
    padding-bottom: 0px; 
    .alert-lists{
      padding: 10px 0px;
      .list-item{
        padding: 12px 0px;
        border-bottom: 1px solid $gray-100;
        .list-alert{
          .alert-icon{
            padding-right: 30px;
            i{
              display: inline-block;
              margin-top: -8px;
            }
            .flood{
              color: #975A16;
            }
            .earthquake{
              color: #ED8936;
            }
          }
          .alert-desc{
            h5,p{
              margin-bottom: 0px;
            }
            h5{
              font-size: 18px;
            }
            p{
              font-size: 14px;
              letter-spacing: 0px;
            }
            a{
              display: inline-block;
              padding-top: 10px;
            }
          }
        }
        .list-status{
          
          .btn{
            display: inline-block;
            color: $blue;
            i{
              display: inline-block;
              vertical-align: text-top;
            }
            
          }
          .btn.high-risk{
            color: $danger;
          }
          .btn.ongoing-rescue{
            color: $success; 
          }
        }
      }
    }
  }
}

//vector colors
.flood{
  color: #975A16;
}
.earthquake{
  color: #ED8936;
}
.hailstrom{
  color: #56CCF2;
}

.lightining{
  color: #2D9CDB;
}

.snow{
  color: #4299E1;
}

.wildfire{
  color: $danger;
}

.rainfall{
  color: #4282e1;
}

.marked{
  color: #EB5757;
}

.attention-alert{
  margin-bottom: 30px;
}

.bg-class{
  background: $white;
  position: absolute;
  width: 100%;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  max-height: 200px;
}
.bg-class-dark{
  background: #4A5568;
  max-height: 650px;
    .heading-actions{
      .heading{
        color: $white; 
      }
      .btn-custom{
        color: $white;
      }
    }
}
.bg-transparent{
  background: transparent;
  box-shadow: none;
}
.bg-profile{
  background: $gray-700;
  max-height: 300px;
  .heading-actions{
    .heading{
      color: $white; 
    }
    .btn-custom{
      color: $white;
    }
  }
}
.heading-actions{
  align-items: center;
}
.page-tabs{
  margin-top: 50px;
  .nav-pills{
    .nav-link{
      color: $gray-700;
      font-weight: 500;
      letter-spacing: 1.5px;
      text-transform: uppercase;
      font-size: 14px;
      padding: 12px 22px;
      box-sizing: border-box;
      border-bottom: 3px solid transparent;
      &:hover{
        background: $gray-100;
      }
    }
    .nav-link.active, .nav-pills .show > .nav-link{
      color: $gray-800;
      background: transparent;
      border-bottom: 3px solid $blue;
      border-radius: 0px;
    }
  }
}
.data-search{
  align-items: center;
  input{
    height: 36px !important;
  }
}
.data-tables{
  background: $white;
  box-shadow: 0 .125rem .25rem rgba(0,0,0,.075);
  margin-top: 30px;
  .table{
    color: $black;
    thead{
      font-size: 14px;
      color: $gray-600;
     
      th{
        font-weight: 500 !important;
        border-top: none;
        border-bottom: 1px;
        padding: 12px 32px;
      }
    }
    tbody{
      td{
        align-items: center; 
        border: none;
        padding: 22px 32px;
        span{
          display: block;
        }
        .branch{
          color: $gray-800;
          font-size: 14px;
        }
        .dropdown-toggle{
          &::after{
            display: none;
          }
        }
        img{
          display: inline-flex;
          border-radius: 35px;
          margin-right: 12px;
        }
      }
      .actions{
        a{
          display: inline-block;
          color: $gray-800;
          padding-left: 22px;
          
        }
      }
    }
  }
  .table-striped > tbody > tr:nth-child(2n+1) > td, .table-striped > tbody > tr:nth-child(2n+1) > th {
    background: $gray-100;
  }
  
}

.page-content{
  .alert-histogram{
    min-height: 200px;
    margin-top: 50px;
    .card-histogram{
      #alertHisto{
        margin: 10px auto;
      }
    }
  }
  .permission{
    margin-top: 40px;
    margin-bottom: 60px;
  }
}
.settings-head{
  margin-top: 32px;
}
.role-lists{
  .list-item{
    border-bottom: 1px solid $gray-100;
    padding: 20px 0px;
    .permission-title{
      font-size: 1.2rem;
      font-weight: 400;
    }
  }
  
}

.drag-drop{
  position: relative;
  margin-top: 20px;
  &:hover{

  }
  label{
    position: absolute;
    top: 0;
    left: 0;
    align-items: center;
    display: block;
    background: $gray-100;
    width: 100%;
    height: 100%;
    background: $gray-100;
    border: 3px dotted $gray-400;
    border-radius: 5px;
    span{
      position: relative;
      display: block;
      text-align: center;
      top: 30%;
      color: $gray-700;
    }
  }
  input{
    width: 100%;
    height: 200px;
    cursor: pointer;
  }
}
.profileDetails{
  .card{
    margin-bottom: 40px;
  }
}

.profile{
  .card-heading{
    margin-top: 20px;
  }
  .card{
    margin-bottom: 40px;
  }
}
//maps
.mapboxgl-popup {
  max-width: 350px !important;
  font: 14px/20px 'Helvetica Neue', Arial, Helvetica, sans-serif !important;
  }

  .mapboxgl-popup-content{
    border-radius: 7px !important;
    padding: 0px !important;
    overflow: hidden;
    .content-head{
      padding:10px 16px;
      background:$gray-100;
      color: $gray-700;
      i{
        margin-right: 10px;
      }
    }
    .content-tiltle{
      display: flex;
      padding: 20px 18px;
      border-bottom: 1px solid $gray-200;
      .alert-icon{
        margin-right: 16px;
      }
      .alert-title{
        .head{
          display: block;
          font-weight: 600;
          color: $gray-800;
          font-size: 15px;
          margin-top: 5px;
        }
        .date{
          color: $gray-600;
          font-weight: 500;
        }

      }
    }
    .content-body{
       padding: 20px 18px;
       p{
         margin-bottom: 4px;
       }
       ul{
         li{
           padding: 6px 0px;
           font-weight: 500;
           span{
             float: right;
             color: $blue;
           }
           &:nth-child(4n+0) {
            padding-bottom: 0px;
            display: none;
          }
         }
       } 
    }
    
    .content-link{
      padding: 0px 18px 20px 18px;
      font-weight: 500;
    }
    
  }
  .marker{
    border: 1px solid #ddd;
  }
  .mapboxgl-popup-close-button{
    font-size: 20px;
    margin-right: 8px;
    margin-top: 6px;
    color: $gray-600;
    padding-bottom: 6px;
    padding-left: 8px;
    border-radius: 50px !important;
    &:hover{
      background: $gray-300 !important;
    }
}
.map-legend{
  min-width: 320px;
  position: fixed;
  bottom: 20;
  left: 20;
  background: $white;
}
